[submodule "Project\\Addons\\Servers Utils"]
	path = Project\\Addons\\Servers Utils
	url = https://github.com/NeqsTech/nightfall-servers-utils
[submodule "Project/Addons/Shared Utils"]
	path = Project/Addons/Shared Utils
	url = https://github.com/NeqsTech/nightfall-shared-utils
[submodule "Native/GodotCpp"]
	path = Native/GodotCpp
	url = https://github.com/godotengine/godot-cpp
